<app-container class="centered">
  <mat-card class="text-left">
      <h3 class="bold">Why us?</h3>
      <p>We have the best professionals across the globe. You can trust that we will do our job as well as we can.</p>
      <p>Occasionally we <u>let someone die just because</u>, but don't let that discourage you.</p>
  </mat-card>
  <mat-card class="text-right">
      <h3 class="bold">Thousands of happy patients...</h3>
      <p>We have had thousands of patients, so we have a lot of experience.</p>
      <p>You will either leave our hospital with a big smile or in a <u>bodybag</u>.</p>
  </mat-card>
  <mat-card class="text-left">
      <h3 class="bold">Where is the hospital located?</h3>
      <p>We can be found all around the world starting from Mumbai all the way to Paris.</p>
      <p>We are the gate of <u>heaven and hell</u>.</p>
  </mat-card>
  <mat-card class="centered">
      <h3 class="bold">What are you waiting for?</h3>
      <p>Register now so you can start your eternity of healing.</p>
      <button mat-button color="primary" [routerLink]="'register'" style="height: 50px; width: 100px;">Register</button>
  </mat-card>
</app-container>
